.DS_Store
.idea/vcs.xml
.idea/workspace.xml
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/compiler.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/encodings.xml
.idea/misc.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_win_13.xml
.idea/libraries/Maven__org_openjfx_javafx_graphics_13.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_win_13.xml
.idea/libraries/Maven__org_openjfx_javafx_fxml_13.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_win_13.xml
.idea/libraries/Maven__org_openjfx_javafx_controls_13.xml
.idea/libraries/Maven__org_openjfx_javafx_base_win_13.xml
.idea/libraries/Maven__org_openjfx_javafx_base_13.xml
.idea/modules.xml
